[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[data-puller-packages]
sqlalchemy = "==2.0.27"
pgvector = "==0.2.4"
psycopg2-binary = "==2.9.9"
b2sdk= "==2.5.0"
python-dotenv = "==1.0.1"
pandas = "==2.2.3"

[embedding-packages]

torch = {version = "==2.2.0", file = "https://download.pytorch.org/whl/cpu/torch-2.2.0-cp310-none-linux_x86_64.whl"}
sentence-transformers = "==2.3.1"
b2sdk= "==2.5.0"
python-dotenv = "==1.0.1"

[clustering-packages]
b2sdk= "==2.5.0"
scikit-learn = "==1.4.0"
python-dotenv = "==1.0.1"
pandas = "==2.2.3"

[dev-packages]
notebook = "==7.2.2"
pre-commit = "4.0.1"
ruff = "=0.7.3"

