[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
name = "pytorch"
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true

[clustering-packages]
sqlalchemy = "==2.0.27"
pgvector = "==0.2.4"
psycopg2-binary = "==2.9.9"
b2sdk= "==2.5.0"
python-dotenv = "==1.0.1"
pandas = "==2.2.3"
torch = {version = "==2.5.1", index = "pytorch"}
sentence-transformers = "==3.3.1"
numpy = "==2.2.0"
scikit-learn = "==1.6.0"
flytekit = "==1.14.2"
protobuf = "==4.25.5"
kubernetes = "==31.0.0"
pyarrow = "==18.1.0"

[generator-packages]
pandas = "==2.2.3"
Jinja2 = "==3.1.4"
flytekit = "==1.14.2"
protobuf = "==4.25.5"
pyarrow = "==18.1.0"
kubernetes = "==31.0.0"

[dev-packages]
notebook = "==7.2.2"
pre-commit = "==4.0.1"
ruff = "==0.7.3"
nbstripout = "==0.8.1"

[ochestration-packages]
flytekit = "==1.14.2"
